<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>724ae866-40fa-44c1-b245-4d9ef7ab76dc</Key>
    <Name>Delivery card suggestions Folder</Name>
    <Alias>deliveryCardSuggestionsFolder</Alias>
    <Icon>icon-message</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Categorized list of card text suggestions for the checkout delivery card module.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <DocumentType Key="138af9ba-4cc5-45b0-bd18-d52befb88f63">cardtextSuggestionCategory</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>