{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", {
      "code": 100,
      "tabWidth": 2,
      "ignorePattern": "^\\s*(const|let|var)\\s+\\w+\\s+\\=\\s+\\/.*\\/(|i|g|m|ig|im|gm|igm);?$"
    }]
  }
}
