<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="dsgWebDevelopment" value="https://www.myget.org/F/dsg-web-development/auth/5818b39b-7039-4c7b-ab62-c48f90789b0c/" />
  </packageSources>
</configuration>