<?xml version="1.0" encoding="utf-8"?>
<DataType Name="DS Checkout Modules" Key="59d91e12-0d6d-429a-9968-f974d350afb1" Id="Umbraco.NestedContent" DatabaseType="Ntext" Folder="DS+Data+Types">
  <PreValues>
    <PreValue Id="1307" Alias="contentTypes"><![CDATA[[
  {
    "ncAlias": "checkoutLoginModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Login"
  },
  {
    "ncAlias": "checkoutReceiverModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{heading}}"
  },
  {
    "ncAlias": "checkoutDeliveryTimeModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{heading}}"
  },
  {
    "ncAlias": "checkoutDeliveryCardModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{heading}}"
  },
  {
    "ncAlias": "checkoutSenderModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{heading}}"
  },
  {
    "ncAlias": "checkoutOrderConfirmationModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{orderConfirmationHeading}}"
  },
  {
    "ncAlias": "checkoutDeliveryDetailsModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Delivery details"
  },
  {
    "ncAlias": "checkoutDiscountOrGiftCardModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Discount or gift card"
  },
  {
    "ncAlias": "checkoutPaymentMethodModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Payment method"
  },
  {
    "ncAlias": "checkoutProductVariantModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Product variant"
  },  
  {
    "ncAlias": "checkoutReceiptModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Purchase receipt"
  },
  {
    "ncAlias": "checkoutOrderOverviewModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Order overview"
  },
  {
    "ncAlias": "checkoutPaymentDetailsModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Payment details"
  },
  {
    "ncAlias": "checkoutNextStepModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Next step"
  },
  {
    "ncAlias": "checkoutTermsAcceptModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Terms accept"
  }
]]]></PreValue>
    <PreValue Id="1308" Alias="minItems"><![CDATA[0]]></PreValue>
    <PreValue Id="1309" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue Id="1310" Alias="confirmDeletes"><![CDATA[1]]></PreValue>
    <PreValue Id="1311" Alias="showIcons"><![CDATA[1]]></PreValue>
    <PreValue Id="1312" Alias="hideLabel"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>