<?xml version="1.0"?>
<log4net>
  <root>
    <priority value="Info"/>
    <appender-ref ref="LeAppender" />
  </root>

  <!-- Log to LogEntries -->
  <appender name="LeAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
    <token value="fdbea2d9-f554-452c-866f-b1b4715f7fae" />
    <immediateFlush value="true" />
    <Debug value="true" />
    <HttpPut value="false" />
    <Ssl value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
</log4net>
