<?xml version="1.0"?>
<FileSystemProviders>
  <!-- Media -->
  <Provider alias="media"
            type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
      <add key="containerName" value="media" />
      <add key="rootUrl" value="https://flowrprodstorage.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=flowrprodstorage;AccountKey=VaO4x9pJDCloGGa1HOCFQEGijJt2xSMFwI3K56gWpQTsDcef3JkQDYPfLMw6aZ983QQc0nJ4CsXXh4uPHoUOIQ=="/>
      <add key="maxDays" value="365"/>
      <add key="useDefaultRoute" value="true"/>
      <add key="usePrivateContainer" value="false" />
    </Parameters>
  </Provider>
</FileSystemProviders>
