<?xml version="1.0"?>
<FileSystemProviders>
  <!-- Media -->
  <Provider alias="media"
            type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
      <add key="containerName" value="media" />
      <add key="rootUrl" value="https://flowrtest.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=flowrtest;AccountKey=ikOpmYCWGDlaOFXz4XYGIminQkqpTuKlnvVpUTZ2bmzbIup2DzshNwxHo3rkCb4i1p7oh6E+2ASmy+JIi8g/eg==;EndpointSuffix=core.windows.net"/>
      <add key="maxDays" value="365"/>
      <add key="useDefaultRoute" value="true"/>
      <add key="usePrivateContainer" value="false" />
    </Parameters>
  </Provider>
</FileSystemProviders>
