<?xml version="1.0"?>
<FileSystemProviders>
  <!-- Media -->
  <Provider alias="media"
            type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
      <add key="containerName" value="media" />
      <add key="rootUrl" value="https://umbracoheadlesscmsdev.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=umbracoheadlesscmsdev;AccountKey=DyEe12SK8ziyleLVmzHO5VcVqwENedroe+Rnst+NTBgFQ5vfomDYJpxqub2Y08FdXlunyNaQR6zHQSxtUSlMfA=="/>
      <add key="maxDays" value="365"/>
      <add key="useDefaultRoute" value="true"/>
      <add key="usePrivateContainer" value="false" />
    </Parameters>
  </Provider>
</FileSystemProviders>
