<?xml version="1.0"?>
<FileSystemProviders>
  <!-- Media -->
  <Provider alias="media"
            type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
      <add key="containerName" value="media" />
      <add key="rootUrl" value="https://umbracoheadlesscmstest.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=umbracoheadlesscmstest;AccountKey=DCcpyjST2PDSZEsX/ZqhCYie3b/RFRSaNR/PtO+BK3RcnsaAV7ncadqF5hLO7Lq9MJOikSsUerE4+7fJSyrwUQ=="/>
      <add key="maxDays" value="365"/>
      <add key="useDefaultRoute" value="true"/>
      <add key="usePrivateContainer" value="false" />
    </Parameters>
  </Provider>
</FileSystemProviders>
