<?xml version="1.0" encoding="utf-8"?>
<DataType Name="DS Modules" Key="88da9296-3761-4397-a1db-d063665b72ea" Id="Umbraco.NestedContent" DatabaseType="Ntext" Folder="DS+Data+Types">
  <PreValues>
    <PreValue Id="1514" Alias="contentTypes">
    <![CDATA[[
  {
    "ncAlias": "textboxModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{title}} - (Textbox)"
  },
  {
    "ncAlias": "imagesModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{caption}} - (Images)"
  },
  {
    "ncAlias": "heroBannerModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{heading}} - (Hero Banner)"
  },
  {
    "ncAlias": "componentModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{title}} - (Component)"
  },
  {
    "ncAlias": "productSliderModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{title}} - (Product slider)"
  },
  {
    "ncAlias": "uspModule",
    "ncTabAlias": "Content",
    "nameTemplate": "USP"
  },
  {
    "ncAlias": "videoModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Video"
  },
  {
    "ncAlias": "splitviewModule",
    "ncTabAlias": "Content",
    "nameTemplate": "Split view"
  },
  {
    "ncAlias": "ctaButtonModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{button[0].caption}} - (Button)"
  },
  {
    "ncAlias": "productListModule",
    "ncTabAlias": "Content",
    "nameTemplate": "{{hybrisProductCategory}} - (Product list)"
  }
]]]></PreValue>
    <PreValue Id="1515" Alias="minItems"><![CDATA[0]]></PreValue>
    <PreValue Id="1516" Alias="maxItems"><![CDATA[0]]></PreValue>
    <PreValue Id="1517" Alias="confirmDeletes"><![CDATA[1]]></PreValue>
    <PreValue Id="1518" Alias="showIcons"><![CDATA[1]]></PreValue>
    <PreValue Id="1519" Alias="hideLabel"><![CDATA[1]]></PreValue>
  </PreValues>
</DataType>